<h1>Позвольте представиться</h1>

<h2>iStudy</h2>

iStudy - образовательный центр с принципиально новой и уникальной методикой обучения. У нас широкий выбор занятий и профессиональные преподаватели.

Мы открылись недавно, но за короткий период успели:

Стать представителями LinquaFoundation по Чуйской области

Привлечь на повышение квалификации в цифровой области учителей района

Провести серию мастер-классов по программированию в университетах г. Бишкек

Запустить и развивать проект игрофикации среди наших учеников




ENDGM – проект онлайн обучения. В рамках этого проекта мы:

Проводим бесплатные вебинары: по программированию, по инструментам онлайн преподавания

Размещаем в Internet в открытом доступе авторские материалы и наработки

Предоставляем онлайн консультации желающим обучаться самостоятельно



Мы любим, ценим и развиваем образование