{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>iStudy</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  
    {% include "base/header.html" %}
   
<main>

    {% include "base/nav.html" %}
 
<content>
{% if courses %}
	{% for course in courses %}
		<div class="row">
			<div class="col-md-6 animate-box">
				<div class="course">
					<a href={% url 'courses:python' %} class="course-img" style="background-image: url(../../static/img/project-1.jpg);">{{course.name}}
					</a>
					<div class="desc">
						<h3><a href={% url 'courses:python' %}>{{course.name}} </a></h3>
						<p>{{course.silabus}}</p>
						<span><a href={% url 'courses:python' %} class="btn btn-primary btn-sm btn-course">Пройти курс</a></span>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% else %}

no courses

{% endif %}

{% if error_message %}
	{{error_message}}
{% endif %}

</content>
</main>
</body>
</html>
