{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>iStudy</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
  
    {% include "base/header.html" %}
   
<main>

    {% include "base/nav.html" %}
 
<content>


	<div class="row">
		<div class="col-md-6 animate-box">
			<div class="course">
				<a href="courses/python_index/" class="course-img" style="background-image: url(../../static/img/project-1.jpg);">fаывфаф
				</a>
				<div class="desc">
					<h3><a href="courses/python_index/">Python для начинающих 1</a></h3>
					<p>Базовый синтаксис языка программирования Python</p>
					<span><a href="courses/python_index/" class="btn btn-primary btn-sm btn-course">Пройти курс</a></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 animate-box">
			<div class="course">
				<a href="#" class="course-img" style="background-image: url(../../static/img/project-1.jpg);">fаывфаф
				</a>
				<div class="desc">
					<h3><a href="#">Python для начинающих</a></h3>
					<p>Базовый синтаксис языка программирования Python</p>
					<span><a href="#" class="btn btn-primary btn-sm btn-course">Пройти курс</a></span>
				</div>
			</div>
		</div>
	</div>

</content>
</main>
</body>
</html>
