{% extends 'base.html' %}
{% block title %}{{tag.name}}{% endblock %}
{% block content %}

<b>Источник(source)</b> - репозиторий разработчиков
<b>Назначение(destination)</b> - репозиторий клиента

<h2>Добавление проекта</h2>
Чтобы добавить проект введите слева название источника, адрес репозитория, ветку из которой необходимо взять код<br>
Правая часть заполняется данными клиента на которые отправляется код.

<h2>Редактирование проекта</h2>
При ошибке или изменении в проекте вы всегда можете нажать на знак карандаша и отредактировать любую из граф.

<h2>Push(Отправка)</h2>
При нажатии на эту кнопку происходит отправка кода в репозиторий. Все ли прошло успешно или произошла одна из ошибок вы сможете увидеть на странице отправки кода, надпись будет внизу страницы

<h2>Run code</h2>
* docker build --tag repo2repo .
* sudo docker run -v /home/jellyfish/.ssh/id_rsa.pub:/usr/local/share/.ssh/id_rsa.pub -d -p 8828:8000 repo2repo


<h2>Public ssh key</h2>
{{file}}

{% endblock %}