{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block content %}

<h2>Edit your instance</h2>

<form action="" method="post">
    {% csrf_token %}
    <table class="table table-hover">
        <tr>
            <th>source name</th>
            <th>source url</th>
            <th>source workbanch</th>
            <th> ______</th>
            <th>destination name</th>
            <th>destination url</th>
            <th>destination workbanch</th>
            <th></th>
        </tr>
        <tr>
            <td>{{form.source_name}}</td>
            <td>{{form.source_url}}</td>
            <td>{{form.source_workbench}}</td>
            <td>______</td>
            <td>{{form.destination_name}}</td>
            <td>{{form.destination_url}}</td>
            <td>{{form.destination_workbench}}</td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>


{% endblock %}