<!-- если авторизован -->
Сраница курса

<li>
    <ul>Название курса</ul>
    <ul>Образец сертификата</ul>
    <ul><Начало обучения, форма обучения, Документ об окончании, Колличество часов/ul>
    <ul>Карточка и записаться на курс</ul>
    <ul>Программа курса
        Скачать копию программы курса
        
        Автор курса
        Краевский Д.В., учитель математики, Пекарь С.С., преподаватель инженер-эколог.
        Цель
        Сформировать представление о новых технологиях работы с математическими терминами и определениями, о принципах обучения математическому моделированию в условиях ФГОС.
        
        Задачи
        Рассмотреть задачи, цели и методы преподавания алгебры, геометрии, математического анализа в основной и средней школе согласно положениям Федерального стандарта. Рассмотреть практические аспекты реализации дифференцированного обучения в школе. Изучить современные подходы к оцениванию математических достижений учащихся.
        Категории обучающихся
        Методисты, учителя, педагоги, старшие воспитатели, воспитатели дошкольных образовательных учреждений и учреждений дополнительного образования, руководители, заместители руководителей образовательных учреждений.
        Оценка качества
        Промежуточная аттестация в форме тестов, итоговое тестирование.
        Форма обучения
        Заочная. В процессе обучения применяются исключительно дистанционные образовательные технологии и электронное обучение.
        Выдаваемый документ
        По окончании курса обучающийся получит печатное удостоверение о повышении квалификации установленного образца. Удостоверение высылается Почтой России (доставка бесплатна).</ul>
        <ul>Аннотация курса</ul>
        <ul>Учебный план почасовой</ul>
        <ul>Скачать учебный план</ul>
        <ul>Отзывы</ul>
        <ul>Контакты</ul>
        <ul>Записаться на курс</ul>

        Вылезает форма с оплатой

        Приступить к обучению

</li>

<!-- если не авторизован -->
перенаправление на авторизайию или регистрацию